<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="assets/css/boxicons.css" rel="stylesheet">

    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>

<header id="header" class="header fixed-top d-flex align-items-center p-3 bg-dark text-white">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <i class="bi bi-list toggle-sidebar-btn"></i>
            <h4 th:text="${currentPerson.getEmail() + ' with roles: '}">email</h4>


            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <div th:each="role: ${currentPerson.getRoles()}">
                    <h4 class="nav-link px-2 text-white" th:text="${ ' ' + role.getRole()}">roles</h4>
                </div>
            </ul>

            <div class="text-end">
                <form th:action="@{/logout}" th:method="POST">
                    <input class="btn btn-outline-light me-2" type="submit" value="Logout"/>
                </form>
            </div>
        </div>
    </div>
</header>


<!--<header id="header" class="header fixed-top d-flex align-items-center">-->

<!--    <div class="d-flex align-items-center justify-content-between">-->
<!--        <a href="index.html" class="logo d-flex align-items-center">-->
<!--            <img src="assets/img/logo.png" alt="">-->
<!--            <span class="d-none d-lg-block">NiceAdmin</span>-->
<!--        </a>-->
<!--        <i class="bi bi-list toggle-sidebar-btn"></i>-->
<!--    </div>&lt;!&ndash; End Logo &ndash;&gt;-->

<!--    <div class="search-bar">-->
<!--        <form class="search-form d-flex align-items-center" method="POST" action="#">-->
<!--            <input type="text" name="query" placeholder="Search" title="Enter search keyword">-->
<!--            <button type="submit" title="Search"><i class="bi bi-search"></i></button>-->
<!--        </form>-->
<!--    </div>&lt;!&ndash; End Search Bar &ndash;&gt;-->

<!--    <nav class="header-nav ms-auto">-->
<!--        <ul class="d-flex align-items-center">-->

<!--            <li class="nav-item d-block d-lg-none">-->
<!--                <a class="nav-link nav-icon search-bar-toggle " href="#">-->
<!--                    <i class="bi bi-search"></i>-->
<!--                </a>-->
<!--            </li>&lt;!&ndash; End Search Icon&ndash;&gt;-->

<!--            <li class="nav-item dropdown">-->

<!--                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">-->
<!--                    <i class="bi bi-bell"></i>-->
<!--                    <span class="badge bg-primary badge-number">4</span>-->
<!--                </a>&lt;!&ndash; End Notification Icon &ndash;&gt;-->

<!--                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">-->
<!--                    <li class="dropdown-header">-->
<!--                        You have 4 new notifications-->
<!--                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li class="notification-item">-->
<!--                        <i class="bi bi-exclamation-circle text-warning"></i>-->
<!--                        <div>-->
<!--                            <h4>Lorem Ipsum</h4>-->
<!--                            <p>Quae dolorem earum veritatis oditseno</p>-->
<!--                            <p>30 min. ago</p>-->
<!--                        </div>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li class="notification-item">-->
<!--                        <i class="bi bi-x-circle text-danger"></i>-->
<!--                        <div>-->
<!--                            <h4>Atque rerum nesciunt</h4>-->
<!--                            <p>Quae dolorem earum veritatis oditseno</p>-->
<!--                            <p>1 hr. ago</p>-->
<!--                        </div>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li class="notification-item">-->
<!--                        <i class="bi bi-check-circle text-success"></i>-->
<!--                        <div>-->
<!--                            <h4>Sit rerum fuga</h4>-->
<!--                            <p>Quae dolorem earum veritatis oditseno</p>-->
<!--                            <p>2 hrs. ago</p>-->
<!--                        </div>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li class="notification-item">-->
<!--                        <i class="bi bi-info-circle text-primary"></i>-->
<!--                        <div>-->
<!--                            <h4>Dicta reprehenderit</h4>-->
<!--                            <p>Quae dolorem earum veritatis oditseno</p>-->
<!--                            <p>4 hrs. ago</p>-->
<!--                        </div>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->
<!--                    <li class="dropdown-footer">-->
<!--                        <a href="#">Show all notifications</a>-->
<!--                    </li>-->

<!--                </ul>&lt;!&ndash; End Notification Dropdown Items &ndash;&gt;-->

<!--            </li>&lt;!&ndash; End Notification Nav &ndash;&gt;-->

<!--            <li class="nav-item dropdown">-->

<!--                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">-->
<!--                    <i class="bi bi-chat-left-text"></i>-->
<!--                    <span class="badge bg-success badge-number">3</span>-->
<!--                </a>&lt;!&ndash; End Messages Icon &ndash;&gt;-->

<!--                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">-->
<!--                    <li class="dropdown-header">-->
<!--                        You have 3 new messages-->
<!--                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li class="message-item">-->
<!--                        <a href="#">-->
<!--                            <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">-->
<!--                            <div>-->
<!--                                <h4>Maria Hudson</h4>-->
<!--                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>-->
<!--                                <p>4 hrs. ago</p>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li class="message-item">-->
<!--                        <a href="#">-->
<!--                            <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">-->
<!--                            <div>-->
<!--                                <h4>Anna Nelson</h4>-->
<!--                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>-->
<!--                                <p>6 hrs. ago</p>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li class="message-item">-->
<!--                        <a href="#">-->
<!--                            <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">-->
<!--                            <div>-->
<!--                                <h4>David Muldon</h4>-->
<!--                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>-->
<!--                                <p>8 hrs. ago</p>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li class="dropdown-footer">-->
<!--                        <a href="#">Show all messages</a>-->
<!--                    </li>-->

<!--                </ul>&lt;!&ndash; End Messages Dropdown Items &ndash;&gt;-->

<!--            </li>&lt;!&ndash; End Messages Nav &ndash;&gt;-->

<!--            <li class="nav-item dropdown pe-3">-->

<!--                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">-->
<!--                    <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">-->
<!--                    <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>-->
<!--                </a>&lt;!&ndash; End Profile Iamge Icon &ndash;&gt;-->

<!--                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">-->
<!--                    <li class="dropdown-header">-->
<!--                        <h6>Kevin Anderson</h6>-->
<!--                        <span>Web Designer</span>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">-->
<!--                            <i class="bi bi-person"></i>-->
<!--                            <span>My Profile</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">-->
<!--                            <i class="bi bi-gear"></i>-->
<!--                            <span>Account Settings</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">-->
<!--                            <i class="bi bi-question-circle"></i>-->
<!--                            <span>Need Help?</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--                            <i class="bi bi-box-arrow-right"></i>-->
<!--                            <span>Sign Out</span>-->
<!--                        </a>-->
<!--                    </li>-->

<!--                </ul>&lt;!&ndash; End Profile Dropdown Items &ndash;&gt;-->
<!--            </li>&lt;!&ndash; End Profile Nav &ndash;&gt;-->

<!--        </ul>-->
<!--    </nav>&lt;!&ndash; End Icons Navigation &ndash;&gt;-->

<!--</header>-->


<!--<div th:each="person : ${person}">-->
<!--    <a th:href="@{/admin/{id}(id=${person.getId()})}"-->
<!--       th:text="${person.getId() + ' ' + person.getFirstName() + ' ' + person.getLastName() + ' ' + person.getAge() + ' '  + person.getEmail() + ' '}">user</a>-->
<!--</div>-->


<!--<a href="/admin/new">Create new person</a>-->

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/admin">
                <i class="bi bi-grid"></i>
                <span>Admin</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link " href="/auth/login">
                <i class="bi bi-grid"></i>
                <span>User</span>
            </a>
        </li><!-- End Dashboard Nav -->

    </ul>

</aside>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>User information-page</h1>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/admin">User table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">New user</a>
                </li>
            </ul>


        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Nurbolot Gulamidinov</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <h6 class="text-center">Nurbolot Gulamidinov</h6>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i
        class="bi bi-arrow-up-short"></i></a>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

<script src="assets/js/apexcharts.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/chart.js"></script>
<script src="assets/js/echarts.js"></script>
<script src="assets/js/quill.js"></script>
<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="assets/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

</body>
</html>