<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <form th:method="POST" th:action="@{/auth/registration}" th:object="${person}" class="needs-validation" novalidate>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="firstName">Enter first name: </label>
        <input type="text" class="form-control" th:field="*{firstName}" id="firstName" placeholder="firstName" required/>
        <div style="color:red" th:if="${#fields.hasErrors('firstName')}"
             th:errors="*{firstName}">firstName Error
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="lastName">Enter last name: </label>
        <input type="text" class="form-control" th:field="*{lastName}" id="lastName" placeholder="last name" required/>
        <div style="color:red" th:if="${#fields.hasErrors('lastName')}"
             th:errors="*{lastName}">lastName Error
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <label for="age">Enter age: </label>
        <input type="number" class="form-control" th:field="*{age}" id="age" placeholder="age" required/>
        <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age
          Error
        </div>
      </div>

    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="email">Enter email: </label>
        <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="email" required/>
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
          email Error
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <label for="password">Enter password: </label>
        <input type="password" class="form-control" th:field="*{password}" id="password" placeholder="password" required/>
        <div  style="color:red" th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}" class="valid-tooltip">
          password Error
        </div>
      </div>

    </div>
    <button class="btn btn-primary" type="submit">Sign up</button>
  </form>
  <a href="/auth/login" class="btn btn-info">login</a>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>